body{
   margin:0;
   display:block;
}
#header{
    background-color: rgba(131, 135, 138, 0.733);
    height:70px;
}
div{
    display: block;
}
.title{
    width:40%;
    float:left;
    height:70px;
    text-align: center;
    line-height: 40px;
}
h1{
    color:black;
    margin:0%;
    display:block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-start: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.nav{
    width:60%;
    float:right;
    height:70px;
    text-align: center;
    line-height: 70px;
}
a{
    color:black;
    text-decoration: none;
    margin-right: 40px;
}
#pasta{
    margin-top: 50px;
    text-align: center;
}
.dp {
    text-align: center;
    background: linear-gradient(45deg,black,rgb(226, 6, 109),black);
    width: 40%;
    margin: auto;
    padding: 10px;
    color: white;
    border-radius: 50%;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
    width:100%;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
#fries {
    margin-top: 50px;
    text-align: center;
}
#footer {
    color: white;
    margin-top: 100px;
    background-color: rgb(2, 2, 12);
    text-align: center;
    padding: 50px;
}